<%= simple_form_for(@video, :url => videos_path) do |f| %>
<div class="modal fade" id="newVideo">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create a new video</h3>
  </div>

  <div class="modal-body">
    <%= f.input :youtube_url, input_html: { class: "span5" } %>
    <%= f.input :title, input_html: { class: "span videoTitle"} %>
    <%= f.input :description, input_html: { class: "span5 videoDescription", rows: "2" } %>

    </ul>
  </div>
  <div class="modal-footer">
    <%= button_tag "Close", type: "button", class: "btn", :'data-dismiss' => "modal", :"aria-hidden" => "true" %>
    <%= f.submit "Save video", class: "btn btn-primary btn-large" %>
  </div>
</div>
<% end %>