<div class="video-content span9 <%= (video.sponsored) ? 'sponsored' : '' %>" data-video_id="R4uZCV-xRwg">
  <%= image_tag("http://youthfrenzy.com/wp-content/uploads/2012/03/dowoad-161x120.jpg") %>
  <div class="span6">
    <h2><%= video.title %></h2>
    <p>
      <%= video.description %>
    </p>
    <%= link_to("Vote", '', :class => "btn btn-system-default")%>
    <%= link_to("Share", '', :class => "btn btn-system-default")%>
    <%= "<span>sponsored</span>".html_safe if video.sponsored %>
  </div>
  <div class="video-frame span8" id="R4uZCV-xRwg"></div>
</div>