<div class="<%= video.presentation %>" data-video_id="<%= video.youtube_id %>_<%= video.id %>">
  <%= image_tag("http://cdn1.iconfinder.com/data/icons/socialmediaicons_v120/48/youtube.png", :class => "link-to-play alternative-to-play") %>
  <%= image_tag("http://img.youtube.com/vi/#{video.youtube_id}/0.jpg", :class => "image-preview") %>

  <div class="span6">
    <%= link_to('javascript:;', :class => "close-video btn btn-mini btn-danger") do %>
      <i class='icon-remove'></i> Close
    <% end %>

    <h2><%= video.title %></h2>
    <p>
      <%= video.description %>
    </p>
      <div class="share">
        <strong>Share</strong><br />
        <%= link_to(image_tag('http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/24/facebook.png'), "http://www.facebook.com/sharer.php?u=#{request.url}show/#{video.id}&t=#{video.title}")%>
        <%= link_to(image_tag('http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/24/twitter.png'), "http://twitter.com/share?url=#{request.url}show/#{video.id}&text=#{video.title}")%>
        <%= link_to(image_tag('http://cdn1.iconfinder.com/data/icons/WPZOOM_Social_Networking_Icon_Set/24/google.png'), "http://plus.google.com/share?url=#{request.url}show/#{video.id}")%>
      </div>
    <%= video.sponsored_mark %>
  </div>
  <div class="video-frame span8" id="<%= video.youtube_id %>_<%= video.id %>"></div>
</div>
