<div class="video-content span9 <%= (video.sponsored) ? 'sponsored' : '' %>" data-video_id="<%= video.youtube_id %>">
  <%= link_to(image_tag("http://cdn1.iconfinder.com/data/icons/socialmediaicons_v120/48/youtube.png"), "##{video.youtube_id}", :class => "link-to-play alternative-to-play") %>
  <%= image_tag("http://youthfrenzy.com/wp-content/uploads/2012/03/dowoad-161x120.jpg", :class => "image-preview") %>
  <div class="span6">
    <%= link_to('javascript:;', :class => "close-video btn btn-mini btn-danger") do %>
      <i class='icon-remove'></i> Close
    <% end %>
    <h2><%= video.title %></h2>
    <p>
      <%= video.description %>
    </p>
    <%= link_to("Vote", '', :class => "btn btn-system-default #{'disabled' unless user_signed_in?}", :rel => "tooltip", :"data-placement" => "top", :"data-original-title" => 'You must be logged in order to upload.')%>
    <div class="popover top <%= video.youtube_id %>">
      <div class="arrow"></div>
      <h3 class="popover-title">Share</h3>
      <div class="popover-content">
        <p>
          <%= link_to(image_tag('http://cdn4.iconfinder.com/data/icons/social_balloons/48px/social_balloon-14.png'), '')%>
          <%= link_to(image_tag('http://cdn4.iconfinder.com/data/icons/social_balloons/48px/social_balloon-05.png'), '')%>
          <%= link_to(image_tag('http://cdn1.iconfinder.com/data/icons/social_balloons/48px/social_balloon-19.png'), '')%>
        </p>
        <div class="popover-footer"></div>
      </div>
    </div>
    <%= link_to("Share", '', :class => "btn btn-system-default popover-click")%>
    <%= "<span>sponsored</span>".html_safe if video.sponsored %>
  </div>
  <div class="video-frame span8" id="<%= video.youtube_id %>"></div>
  <!-- <a href="#" class="close-video">fechar</a> -->
</div>