<div class="span10 videos-list">
  <form>
    <div class="input-append">
      <input class="span8" id="appendedInputButtons" placeholder="Buscar" size="16" type="search">
      <button class="btn" type="button">Search</button>
      <button class="btn btn-upload" type="button">Options</button>
    </div>
  </form>
  <div class="video-content span9 sponsored">
    <%= image_tag("http://youthfrenzy.com/wp-content/uploads/2012/03/dowoad-161x120.jpg") %>
    <div class="span6">
      <h2>Troca de Fraudas</h2>
      <p>
        Você vai trocar cerca de 250 fraldas só no primeiro mês de
        vida do seu filho. Saiba o que precisa fazer para virar craque
        nesta arte.
      </p>
      <%= link_to("Vote", '', :class => "btn btn-system-default")%>
      <%= link_to("Share", '', :class => "btn btn-system-default")%>
      <span>sponsored</span>
    </div>
  </div>
  <div class="video-content span9">
    <%= image_tag("http://youthfrenzy.com/wp-content/uploads/2012/03/dowoad-161x120.jpg") %>
    <div class="span6">
      <h2>Troca de Fraudas</h2>
      <p>
        Você vai trocar cerca de 250 fraldas só no primeiro mês de
        vida do seu filho. Saiba o que precisa fazer para virar craque
        nesta arte.
      </p>
      <%= link_to("Vote", '', :class => "btn btn-system-default")%>
      <%= link_to("Share", '', :class => "btn btn-system-default")%>
    </div>
  </div>
  <div class="video-content span9">
    <%= image_tag("http://youthfrenzy.com/wp-content/uploads/2012/03/dowoad-161x120.jpg") %>
    <div class="span6">
      <h2>Troca de Fraudas</h2>
      <p>
        Você vai trocar cerca de 250 fraldas só no primeiro mês de
        vida do seu filho. Saiba o que precisa fazer para virar craque
        nesta arte.
      </p>
      <%= link_to("Vote", '', :class => "btn btn-system-default")%>
      <%= link_to("Share", '', :class => "btn btn-system-default")%>
    </div>
  </div>
</div>