<!DOCTYPE html>
<html>
<head>
  <title>BabyCasts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <meta property='og:title' content='' />
  <meta property='og:url' content=''/>
  <meta property='og:image' content='' />
  <meta property="og:type" content="Website" />
  <meta property="og:description" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" xml:lang="pt-BR" lang="pt-BR" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    </div>
  </div>
  <div class="container">
    <div class="menu-top">
      <ul>
        <%= @user.display_information %>
      </ul>
    </div>
    <div class="logo span7">
      <%= link_to(image_tag("logo.png"), root_path, :class => "pull-right") %>
    </div>
    <div class="row">
      <%= render "videos/search" %>
      <%= yield %>
    </div>

  </div>
  <footer class="footer">
    <div class="container">
      <div>
        <p class="span5">Copyright &copy; <%= Date.today.year %> Gangnam Style team. <%= link_to("#RailsRumble2012", 'https://twitter.com/search?q=railsrumble2012&src=typd', target: 'blank') %></p>
          <%= link_to(image_tag('http://s0.railsrumble.com/assets/rr-logo-small-f2c869882ac5306656d15ac149cdd8a8.png'), 'http://railsrumble.com/', :target => "blank") %>
      </div>
    </div>
  </footer>
</body>
</html>