<!DOCTYPE html>
<html>
<head>
  <title>BabyCasts - the first time we never forget</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <meta property='og:title' content='BabyCasts - the first time we never forget' />
  <meta property='og:url' content='http://http://babycasts.r12.railsrumble.com/'/>
  <meta property='og:image' content='<%= request.url %>assets/baby_face.png' />
  <meta property="og:type" content="Website" />
  <meta property="og:description" content="BabyCasts is an application created to help parents all over the world to share and find the bests baby hints and solutions for the most unexpected problems. Cause there is always a first time to have a baby either." />
  <meta name="description" content="BabyCasts is an application created to help parents all over the world to share and find the bests baby hints and solutions for the most unexpected problems. Cause there is always a first time to have a baby either." />
  <meta name="keywords" content="baby, parents, bebes, pais, mães, dad, mom, fraldas, mamadeira, infância, crianças, tutoriais, howto, dicas, cuidados, doenças, problemas, choro, cry, hints, babies, children, sons, daughter, help, sick"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    </div>
  </div>
  <div class="container">
    <div class="menu-top">
      <ul>
        <%= @user.display_information %>
      </ul>
    </div>
    <div class="notice fade">
      <div class="alert alert-success"><%= notice %></div>
    </div>
    <div class="logo span7">
      <%= link_to(image_tag("logo.png"), root_path, :class => "pull-right") %>
    </div>
    <div class="row">
      <div class="span10 videos-list">
        <%= render "videos/search" %>
        <%= yield %>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div>
        <p class="span5">Copyright &copy; <%= Date.today.year %> <%= link_to 'Gangnam Style team', about_path %>. <%= link_to("#RailsRumble2012", 'https://twitter.com/search?q=railsrumble2012&src=typd', target: '_blank') %></p>
          <%= link_to(image_tag('http://s0.railsrumble.com/assets/rr-logo-small-f2c869882ac5306656d15ac149cdd8a8.png'), 'http://railsrumble.com/', :target => "_blank") %>
      </div>
    </div>
  </footer>
  <script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>
</body>
</html>
