<!DOCTYPE html>
<html>
<head>
  <title>BabyCasts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    </div>
  </div>
  <div class="container">
    <div class="menu-top">
      <ul>
        <% if user_signed_in? %>
          <li class="user-logged">
            <%= image_tag("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/273723_100000185745732_1314174248_q.jpg")%>
            <strong>Flavio Muniz</strong>
            <%= link_to('') do %>
              <i class="icon-white icon-off"></i> Log out
            <% end %>
          </li>
        <% else %>
          <li><%= link_to 'Sign in with facebook', user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
      </ul>
    </div>
    <div class="logo span7">
      <%= link_to(image_tag("logo.png"), root_path, :class => "pull-right") %>
    </div>
    <div class="row">
      <%= yield %>
    </div>

  </div>
  <footer class="footer">
    <div class="container">
      <div>
        <p class="span5">Copyright &copy; <%= Date.today.year %> Gangnam Style team. <%= link_to("#RailsRumble2012", 'https://twitter.com/search?q=railsrumble2012&src=typd', target: 'blank') %></p>
          <%= link_to(image_tag('http://s0.railsrumble.com/assets/rr-logo-small-f2c869882ac5306656d15ac149cdd8a8.png'), 'http://railsrumble.com/', :target => "blank") %>
      </div>
    </div>
  </footer>
</body>
</html>