<!DOCTYPE html>
<html>
<head>
  <title>BabyCasts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="menu-top">
      <ul>
        <li><%= link_to 'Sign up', user_omniauth_authorize_path(:facebook) %></li>
        <li><%= link_to 'Sign in', user_omniauth_authorize_path(:facebook) %></li>
      </ul>
    </div>
    <div class="logo span10">
      <%= link_to(image_tag("logo.png"), root_path, :class => "pull-right") %>
    </div>
    <div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
